In [17]:
%reload_ext autoreload

%autoreload 2

import numpy as np
import pandas as pd

from KNN import KNN

In [18]:
x_train = pd.DataFrame({'A' : [1, 1, 1, 1, 6], 'B' : [1, 2, 1, 2, 7]})
y_train = np.array([0, 0, 0, 0, 1])
x_test = np.array([5, 5])
x_train

   A  B
0  1  1
1  1  2
2  1  1
3  1  2
4  6  7

In [20]:
knn = KNN(3)
knn.predict(x_train, y_train, x_test)

0.3333333333333333